<h3>Post:</h3>
<section class="container card p-3">
  <h3 class="gallery-name">Title: {{title}}</h3>
  <h4> Content: {{ content }} </h4>
  <div class="display-flex detail">
    <p id="postNum"> {{ id }}</p>
    <p> Posted:{{format_date date_created}} </p>
    <p>Written by: {{ user.username }}</p>
  </div>
</section>
  <div class="row">
    <h3>Create a comment:</h3>
    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-cont">comment:</label>
        <input class="form-input" type="text" id="comment-cont" name="comment-cont"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if logged_in}}
  {{#each comments as |comment|}}
<section class="flex-col justify-space-between card p-3">
    <h4>{{ comment.comment }} </h4>
    <div class="display-flex">
      <p> <strong> Posted By: </strong> {{ user.username }}</p>
      <p class="mx-2"> <strong> Date Posted: </strong> {{ format_date comment.date_posted }}</p>
    </div>
</section>
  {{/each}}
{{else}}
<a href="/login">You must login first to view the comments</a>
{{/if}}

<script src="../js/blog.js"></script>