<section class="container">
  <h3 class="gallery-name">{{title}}</h3>
  <h4> Posted:{{format_date date_created}} </h4>
  <h5> {{ content }} </h5>
</section>
  <!-- If the user is logged in, render the gallery content -->
  {{#if logged_in}}
  {{#each comments as |comment|}}
<section class="flex-col justify-space-between text-center">
    <h5> {{ comment.comment }} </h5>
    <h5> {{ format_date comment.date_posted }}</h5>
</section>
  {{/each}}
{{else}}
<a href="/login">You must login first to view the paintings</a>
{{/if}}