<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">content:</label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>

  <h3>Current Posts:</h3>
  <div class="row post-list mb-4 mt-4">
    {{#each blogposts as |blogpost|}}
      <div class="col-10 card">
        <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a></h4>
        <p> {{ blogpost.content }} </p>
        <p>{{format_date blogpost.date_created}}</p>
      </div>
      <div class="col-1 card">
        <a role="button" class="btn btn-secondary" href="/editpost/{{blogpost.id}}">Edit</a>
      </div>
      <div class="col-1 card">
        <button class="btn btn-sm btn-danger" data-id="{{blogpost.id}}">DELETE</button>
      </div>
    {{/each}}
  </div>
</div>

<script src="./js/blogpost.js"></script>