{{#each blogposts as |blogpost| }}
<div class="row mb-4 project">
  <div class="col-md-4">
    <h2>
      <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
    </h2>
    <div class="display-flex flex-row">
      <p class="fs-2">Posted On: </p>
      <p class="ml-1 fs-2">{{format_date blogpost.date_created}}</p>
    </div>
    <p>Created by {{ user.username }}</p>
  </div>
  <div class="col-md-8">
    <p>
      {{ blogpost.content }}
    </p>
  </div>
</div>
{{/each}}